/* html, body {
    height: 100%;
} */
body {
    font-family: 'Lato', sans-serif;
}

.view-desktop {
    /*display: none;*/
}

/*Inicio estilos hambruguesa */
/* mostrar */
.enabled-menu {
    height: 250px;
}

/* ocultar */
.disabled-menu {
    height: 0;
}

.nav-right {
    float: right;
}

.burger-border {
    border: 1px solid #444;
    border-radius: 3px; 
    cursor: pointer;
    height: 40px;
    margin: 10px 15px 0 0;
    width: 50px;
}

.burger {
    position: absolute;
    top: 28px;
    right: 28px;
    height: 2px;
    width: 24px;
    background: #888;
  }

.burger::before, .burger::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 24px;
  display: block;
  background: #888;
}

.burger::before {
    top: -8px;
}

.burger::after {
    top: 8px;
}
/* Fin estilos hamburguesa */
nav {
    color: #fff;
    height: 60px;
    position: fixed;
    /* padding: 15px; */
    width: 100%;
}

nav.background {
    background-color: #212529;
}

.nav-left {
    float: left;
    margin: 10px 0 0 15px;
}

.nav-left a {
    color: #fed136;
    font-size: 22px;
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
}

img {
    width: 100%;
}

#menu {
    background-color: #212529;
    list-style: none;
    /*height: 100vh;*/
    overflow: hidden;
    transition: all .5s;
    width: 100%;    
}

#menu li {
    border-bottom: 1px solid #ddd;
    margin: 15px;   
    padding-bottom: 15px; 
    text-transform: uppercase;
}

#menu li a {
    color: #fff;
    font-weight: 400px;
    text-decoration: none;
}

#menu li a:hover {
    color: #fed136;
}

.header-image {
    background-image: url('../assets/images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    height: 400px;
}

.intro-text {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 130px;
}

.intro-text p {
    font-style: italic;
    font-size: 28px;
    margin: 15px;
}

.intro-text h1 {
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
}

button {
    background-color: #fed136;
    border: none;
    border-radius: 3px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.info, .contact {
    margin:30px 15px;
}

.contact {
    line-height: 25px;
}

.contact h2 {
    margin-bottom: 10px;
}

.info p {
    margin: 10px 0;
}

.contact a {
    color: #fed136;
    text-decoration: none;
}

.info-card {
    margin: 25px 10px;
    border: 1px solid #ddd;
}

.description-card {
    padding: 18px;
    text-align: center;
}

.description-card h3 {
    font-size: 30px;
}
.description-card p {
    color: #aaa;
    margin-top: 16px; 
    font-style: italic;
}

.content-btn {
    border-top: 1px solid #ddd; 
    background-color: #f7f7f7;
    padding: 10px;
}

footer {
    background-color: #212529;
    color: #fff;
    padding: 25px;
    text-align: center;
}

@media (min-width: 768px) {
    .view-mobile {
        display: none;
    }

    #menu {
        background-color: transparent;
        width: auto;
    }

    #menu li {
        border: none;
    }

    /* header, */
    
    /* .header-image {
        height: 400px;
    } */

    .intro-text {
        padding-top: 12%;
    }

    .view-desktop {
        display: block;
        list-style: none;
        height: 60px;
    }

    .view-desktop li { 
        display: inline-block;
        /* text-transform: uppercase;s */
    }

    .view-desktop li a {
        color: #fff;
        padding: 15px;
        text-decoration: none;
    }

}